<?php echo $this->getChildHtml('athlete_brands'); ?>
<?php echo $this->getChildHtml('bottomContainer'); ?>
<div class="footer-container">
	<div class="footer row clearfix">
		<div class="grid_18">
			<div class="footer-info clearfix">
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId(Mage::helper('athlete')->getCfg('footer/cms_block'))->toHtml(); ?>
			</div>
			<?php echo $this->getChildHtml('athlete_footer_customer_service');?>
		</div>
	</div>
</div>
<div class="copyright-container">
	<div class="row clearfix">
		<div class="grid_18">
			<div class="cc-icons"><?php echo $this->getChildHtml('athlete_cc_icons');?></div>
			<address><?php echo $this->getCopyright() ?></address>
		</div>
	</div>
</div>