<span style='color: #000' title='Frames'>   205</span><span style='color: #009' title='Memory'>  53760.00 KB</span><span style='color: #900' title='Time'>    857.46 ms</span><span  title='Quirksmode'>  <span style='color: #0d0'>OFF</span></span><br />﻿